@font-face {
  font-family: 'naked-power-bold';
  src: url('/public/fonts/naked-power.bold.otf') format('truetype');
}

body {
    background-color: #121212;
    color: white;
    font-family: "naked-power-bold", serif, sans-serif;
    text-align: center;
    background-image: url(/public/assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-width: 350px;
}

#content {
    max-width: 1000px;
    min-width: 450px;
    background-color: rgba(20, 20, 20, 0.75);
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 2rem;
}

.main-page-title {
    font-size: 48px;
    border: 1px solid gray;
    padding: 1rem;
    background-color: rgba(10, 10, 10, 0.5);
    max-width: 500px;
    margin: 2rem auto;
    border-radius: 1rem;
}

.menu {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 1rem auto;
    padding: 1rem;
    
}

button {
    font-size: 1rem;
    padding: 0.5rem;
    font-family: inherit;
    background-color: rgba(22, 22, 22, 0.5);
    color: white;
    border-radius: 0.75rem;
    border-style: groove;
    border-color: black;
    font-weight: bold;
}

button:hover {
    background-color: #353535;
}

input {
    padding: 0.5rem;
    background-color: black;
    color: white;
    font-family: inherit;
}

.gpu-container {
    max-width: 1100px;
    min-width: 600px;
    margin: 0 auto 30px auto; /* Center the container horizontally */
    padding: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: rgba(11, 11, 11, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style for the GPU name header */ 
.gpu-container > h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0.75rem;
}

.gpu-container th {
    background-color: rgba(20, 20, 20, 0.65);
}

.gpu-container td {
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

.model-nvidia > h2,
.model-nvidia td {
    color: #76b900;
}

.model-amd > h2,
.model-amd td {
    color: red;
}

.model-intel > h2,
.model-intel td {
    color: #0068B5;
}

.table-wrapper {
    display: flex;
    gap: 20px; /* Space between tables */
    justify-content: center; /* Center the tables within the container */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    width: 100%;
    border: 1px solid gray;
    border-style: groove;
}

th, td {
    width: 200px;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #141414;
}

th {
    font-weight: bold;
}

.gpu-compare-header,
.gpu-compare-amd,
.gpu-compare-intel,
.gpu-compare-nvidia {
    background-color: rgba(5, 5, 5, 0.5);
    background-color: #050505;
    font-size: 26px;
    font-weight: bold;
    padding: 20px;
}

.gpu-compare-nvidia {
    color: #76b900;
}

.gpu-compare-amd {
    color: red;
}

.gpu-compare-intel {
    color: #0068B5;
}

.compare-specs-container {
    width: 600px;
    margin: 0 auto 30px auto; /* Center the container horizontally */
    padding: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: rgba(1e, 1e, 1e, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the content inside */
    font-size: large;
    table-layout: fixed;
}

.compare-specs-table-headers {
    background-color: rgba(05, 05, 05, 0.5);
}
  
.compare-specs-table-gpu-column {
    width: 30%;
    background-color: rgba(30, 30, 30, 0.75);
}

/* Adjust the width of the 'Difference' column */
.compare-specs-table-difference-column {
    width: 10%;
}


@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait){
    #content, 
    .menu, 
    #data-display,
    table,
    th,
    td,
    .gpu-container,
    .compare-specs-container {
        width: 100%; /* Ensure the elements scale down */
        max-width: 100%; /* Prevent them from exceeding the screen's width */
        box-sizing: border-box; /* Include padding and borders in the width calculation */
    }

    #content {
        padding: 0;
    }

    .gpu-container {
        min-width: 200px;
        max-width: 500px;
    }

    .table-wrapper {
        width: 100%; /* Ensure tables take up the full width of the container */
        max-width: 400px; /* Prevent overflow */
        margin-bottom: 20px; /* Add spacing between tables */
        flex-direction: column;
        align-items: center;
    }

    th, td {
        max-width: 50%;
    }

    .compare-specs-container {
        max-width: 600px;
        overflow-x: auto;
        padding-left: 2rem;
        padding-right: 0;
    }

    .compare-specs-table {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


}